<footer class="site-footer">
    <div class="container">
        <p>&copy; 2015 AmberX Medico. All rights reserved.</p>
        <p><strong>Opening Hours:</strong> 9:00 AM - 9:00 PM (Mon - Sat), 10:00 AM - 5:00 PM (Sun)</p>
        <div class="footer-links">
            <a href="https://www.facebook.com/amber.medico" target="_blank">
                <i class="fab fa-facebook-f"></i> Facebook
            </a>
            <a href="https://www.instagram.com/amberxmedico?igsh=MTcycnBzN2dyOTlkdg==" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-twitter"></i> Twitter
            </a>
        </div>
    </div>
</footer>